.topLeftNav 
{
   float: right;
   margin-right: 25px;
}

h2 { margin-left: 10px;}

#ProjectBucket { float: left; }

#PeopleList 
{
   float: left;
   width: 100px;
   background: lightgrey;
   border: 2px solid grey;
   margin: 0px 10px 10px 10px;
   padding:4px;
}

.boardHeader .boardColumn 
{
   border-top: 2px solid grey;
   height: 25px;
   text-align: center;
   padding-top: 4px;
}

.boardColumn 
{
   background-color: lightgrey;
   border: 2px solid grey;
   border-top: 0px;
   width: 200px;
   height: 100px;
   float: left;  
}

.lastColumn { float:none;
              display: inline-block; }
              
#PersonWindow  
{
   height: 500px;
   width: 400px;
   border: 2px solid grey;
   background: lightGrey; 
   display:none;
   margin: 0px 10px 0px 10px;
   padding: 4px;  
}

#ProjectWindow 
{
   margin: 0px 10px 0px 10px;
   padding: 4px;  
}
