@model IEnumerable<MiniBoard.Models.Person>

@{
    ViewBag.Title = "home";
}

<div class="topLeftNav">
   <span class="addPerson">add a Person</span>
</div>

<h2>Welcome To Miniboard!</h2>

<div id="PersonWindow">Hello, I am the Person Window. Do people actions here!</div>

<div class="boardHeader">
   <div class="boardColumn">Project Name</div>
   <div class="boardColumn">Team Leads</div>
   <div class="boardColumn lastColumn">Team Members</div>
</div>
<div>
   <div class="projectName boardColumn"></div>
   <div class="teamLead boardColumn"></div>
   <div class="teamMember boardColumn lastColumn"></div>
</div>

@Scripts.Render("~/Scripts/Custom/DragAndDrop.js")
@Scripts.Render("~/Scripts/Custom/AddPerson.js")