@model MiniBoard.Models.MiniBoardDBCotext

@{
    ViewBag.Title = "home";
}

<div class="topLeftNav">
   <span class="addPerson">add a Person</span>
</div>

<h2>Welcome To Miniboard!</h2>

<div id="ChangeState"></div>

<div id="PersonWindow">
   <p>
      Hello, I am the Person Window. Do people actions here!
   </p>
   <p><form onsubmit="addNewPerson(); return false;">
      Who would you like to add? <input id="NewPersonInputBox" type=text placeholder="enter name"/>
   </form></p>
</div>

<div id="ProjectWindow">
   <p><form onsubmit="addNewProject(); return false;">
      Add a new Project? <input id="NewProjectInputBox" type=text placeholder="Project Name"/>
   </form></p>
</div>

@Html.Partial("showPeople", Model.Person)

<div class="boardHeader">
   <div class="boardColumn">Project Name</div>
   <div class="boardColumn">Team Leads</div>
   <div class="boardColumn lastColumn">Team Members</div>
</div>

<div id="ProjectBucket">
   @Html.Partial("showProjects", Model.Project)
</div>



@Scripts.Render("~/Scripts/Custom/DragAndDrop.js")
@Scripts.Render("~/Scripts/Custom/AddRequests.js")