@model IEnumerable<MiniBoard.Models.Person>

@{
    ViewBag.Title = "home";
}

<div class="topLeftNav">
   <span class="addPerson">add a Person</span>
</div>

<h2>Welcome To Miniboard!</h2>

<div id="ChangeState"></div>

<div id="PersonWindow">
   <p>
      Hello, I am the Person Window. Do people actions here!
   </p>
   <p><form onsubmit="addNewPerson(); return false;">
      Who would you like to add? <input type=text placeholder="enter name"/>
   </form></p>
</div>

<div id="PeopleList">
   @foreach (var person in Model)
   {
      <div class="draggable">@Html.DisplayFor(p => person.Name)</div>
   }
</div>

<div class="boardHeader">
   <div class="boardColumn">Project Name</div>
   <div class="boardColumn">Team Leads</div>
   <div class="boardColumn lastColumn">Team Members</div>
</div>
<div>
   <div class="projectName boardColumn"></div>
   <div class="teamLead boardColumn droptarget"></div>
   <div class="teamMember boardColumn lastColumn droptarget"></div>
</div>



@Scripts.Render("~/Scripts/Custom/DragAndDrop.js")
@Scripts.Render("~/Scripts/Custom/AddRequests.js")